.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  box-shadow: 2px 1px 15px -2px #1e565d;
  border-radius: 20px;
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.search-input {
  border-radius: 6px;
  padding: 6px 10px;
  color: black;
  border: 5px solid #ddd;
}

.Dictionary .form-btn {
  background: rgb(8, 56, 95);
  color: white;

  cursor: pointer;
  transition: 1ms ease-in-out;
  border-radius: 16px;

  font-size: 18px;
  height: 40px;
  width: 100px;
  margin-left: 10px;
}

.Dictionary .Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
