.Dictionary section {
  box-shadow: 2px 1px 15px -2px #1e565d;
  border-radius: 20px;
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
  padding: 30px;

}

.Dictionary input{
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: black;
  border: 5px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  

}
